# keep in alphabetical order
protobuf==3.18.3
dm_control
Pillow
pygame
pyspacemouse
PyQt6
pyquaternion
pyrealsense2
pure-python-adb
quaternion
tyro
ur-rtde
zmq
xarm
xarm-python-sdk
numpy-quaternion
termcolor
